.env
.env.*
!.env.example
**/node_modules/
**/dist/
**/__pycache__/
**/*.py[cod]
**/.venv/
**/.pytest_cache/
**/.ipynb_checkpoints/
**/*.sqlite3
ia/data/**
!ia/data/**/
!ia/data/**/.gitkeep
ia/models/**
!ia/models/**/
!ia/models/**/.gitkeep
.DS_Store
Thumbs.db
